@font-face {
    font-family: "pageTitle";
    src: url("/fonts/blockat.otf") format("OpenType");
}

@font-face {
    font-family: "primary";
    src: url("/fonts/0xProto.ttf") format("TrueType");
}

:root {
    font-family: "primary";
    font-size: 5vw;
    --backgroundPrimary: #2e3440;
    --textMain: #ffffff;
    --primary: #5e81ac;
    --secondary: #4c566a;
    --tertiary: #deb1d6;
    --quaternary: oklch(.83 .2 77.44);
    --quinary: #f58c62;
    --whiteIsh: rgb(216, 216, 216);
    --senary: #f56262;
    user-select: none;
}

body {
    background-color: var(--backgroundPrimary);
    color: var(--textMain);
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.topBar {
    pointer-events: none;
    width: 100%;
    background-color: var(--secondary);
    max-height: 1.6em;
    z-index: 5;
    top: 0;
    position: sticky;
    .pageTitle {
        font-family: "pageTitle";
        width: 100%;
        text-align: center;
        margin: 0px;
        color: var(--textMain);
        img {
            margin: 0;
            margin-top: 0.25em;
            width: 6em;
        }
    }
    
    #menu {
        pointer-events: auto;
        left: 0.1em;
        position: fixed;
        padding: 0;
        margin: 0;
        top: 0.05em;
        background-color: var(--whiteIsh);
        color: var(--backgroundPrimary);
        border: solid 0.2em var(--secondary);
        width: 1.55em;
        height: 1.55em;
        border-radius: 0.3em;
        font-size: 1.5em;
        padding: 0.075em 0.1em 0.2em 0.25em;
        box-sizing: border-box;
        transition: all 0.25s;
        * { font-size: 1.425em; }
        .top {
            display: block;
            margin-top: -0.455em;
            margin-bottom: -1.05em;
            margin-left: -0.075em;
            z-index: 999;
            pointer-events: none !important;
        }
        .middle {
            display: block;
            margin-left: -0.075em;
            margin-bottom: -1.04em;
            pointer-events: none !important;
        }
        .bottom {
            display: block;
            margin-left: -0.075em;
            pointer-events: none !important;
        }
    }

    #menu:not(.menu) {
        cursor: pointer;
    }

    #menu:not(.menu):hover {
        background-color: var(--tertiary);
        color: var(--backgroundPrimary);
    }
    .menu {
        cursor: unset;
        font-size: 1em !important;
        width: fit-content !important;
        height: fit-content !important;
        padding: 0.4em 1em !important;
        border-radius: 1em !important;
        .close {
            cursor: pointer;
            padding: 0;
            position: absolute;
            right: 0;
            margin: 0 0.2em;
            border: none;
            box-sizing: border-box;
            height: 0.75em ;
            background-color: var(--backgroundPrimary);
            color: var(--whiteIsh);
            border-radius: 0.3em;
            width: 0.75em;
            font-size: 2em !important;
            text-align: center;
            transition: all 0.25s;
            p {
                margin-top: -0.285em !important;
                font-size: 1em !important;
            }
        }
        
        .close:hover {
            background-color: var(--quaternary) !important;
            color: var(--backgroundPrimary) !important;
        }

        #item:hover {
            color: var(--quaternary);
        }
        #item {
            width: fit-content;
            cursor: pointer;
            margin: 0.2em 0 !important;
            transition: all 0.25s;
        }

    }
    .menu:has(#item:hover), .menu:has(.close:hover) {
        background-color: var(--secondary) !important;
        border: solid 0.2em var(--backgroundPrimary) !important;
    }
}

.iconSVG {
    width: 6em; 
    .rect1 {
        fill: rgb(216, 216, 216);
        stroke: rgb(76, 86, 106);
        stroke-width: 50px;
        pointer-events: auto;
    }
    text {
        fill: rgb(51, 51, 51);
        font-family: "pageTitle";
        font-size: 329.3px;
        font-style: italic;
        white-space: pre;
        pointer-events: none;
    }
    .rect2 {
        fill: rgb(46, 52, 64);
        stroke-width: 50px;
        stroke: rgb(76, 86, 106);
        paint-order: fill;
        pointer-events: auto;
    }
    .path1 {
        stroke: rgb(0, 0, 0);
        stroke-opacity: 0;
        fill: rgb(94, 129, 172);
        stroke-width: 1;
    }
    .ellipse1 {
        stroke-width: 17;
        paint-order: fill;
        stroke: rgb(255, 180, 0);
        fill: rgb(46, 52, 64);
    }
    .path2 {
        stroke-width: 17;
        fill: oklch(0.88 0 0);
        stroke: rgb(255, 180, 0);
    }
    .ellipse2 {
        stroke-width: 17;
        fill-opacity: 0;
        fill: oklch(0.88 0 0);
        stroke: rgb(255, 180, 0);
    }
    .path3 {
        stroke-width: 17;
        fill-opacity: 0;
        fill: oklch(0.88 0 0);
        stroke: rgb(255, 180, 0);
        transform-origin: 206.129px 445.647px;
    }
    .path4 {
        stroke-width: 17;
        fill-opacity: 0;
        fill: oklch(0.88 0 0);
        stroke: rgb(255, 180, 0);
        transform-origin: 230.491px 306.466px;
    }
}

.station {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    display: flex;
    left: 5%;
    padding: 0.5em;
    height: fit-content;
    transition: all 0.25s;
    cursor: pointer;
    button {
        flex-grow: 1;
        margin-left: 1em;
        border: none;
        border-radius: 0.5em;
        padding: 0.225em 0.5em;
        font-weight: bold;
        background-color: var(--whiteIsh);
        font-size: unset;
        transition: all 0.25s;
        cursor: pointer;
    }
    
    button.active{ background-color: var(--quaternary); }
    button.active:hover { background-color: var(--quinary); }
    
    .title {
        background-color: var(--primary);
        width: 100%;
        padding: 0.225em 0.5em;
        border-radius: 0.5em;
        margin-right: 0;
        display: inline-block;
    }
}

.station:hover {
    font-size: 1.1em;
    button {
        background-color: var(--tertiary);
    }

    .title {
        background-color: var(--quinary);
        color: var(--backgroundPrimary);
        font-weight: bold;
    }
}

.station:has(button.active) {
    .title {
        background-color: var(--whiteIsh);
        color: var(--backgroundPrimary);
        font-weight: bold;
    }
}

.station:has(button.active):hover {
    .title {
        background-color: var(--senary);
    }
    
    button {
        background-color: var(--quinary);
    }
}

#settingsWall {
    text-align: center;
    padding-top: 1.5em;
    button {
        border: none;
        border-radius: 1em;
        padding: 0.25em 1em;
        transition: all 0.25s;
        font-size: 1.1em;
        font-weight: bold;
        cursor: pointer;
    }

    button.return {
        background-color: var(--whiteIsh);
        color: var(--backgroundPrimary);
    }
    
    button.save {
        background-color: var(--quaternary);
        color: var(--backgroundPrimary);
    }

    button.save:hover {
        background-color: var(--tertiary);
    }

    button.return:hover {
        background-color: var(--senary);
    }

    [type="input"] {
        border-radius: 0.5em;
        border: none;
        padding: 0.25em 0.5em;
        text-align: center;
        margin-bottom: 0.75em;
    }

    #settings {
        display: block;
        .settingItem {
            background-color: var(--secondary);
            margin-top: 1em;
            border-radius: 1em;
            padding: 0.05em 1em 0.5em 1em;
            width: fit-content;
            margin-right: auto;
            margin-left: auto;
            .settingName {
                background-color: var(--backgroundPrimary);
                padding: 0.5em 0.5em;
                border-radius: 0.5em;
                font-weight: bold;
            }
            .settingDesc {
                font-size: 0.75em;
            }
        }
    }
}

@media screen and (orientation: landscape) {
    :root {
        font-size:4vh;
    }
    
    #wall {
        margin: 1.5vw 0;
    }
    
    .title {
        max-width: 80vw;
    }
}

@media screen and (min-height: 800px) and (orientation: landscape) {
    :root {
        font-size: 2.25vh
    }
    .station {
        text-align: left;
    }
}

@media screen and (orientation: portrait) {
    :root {
        font-size: 2vw;
    }
    
    #wall {
        margin: 0.5vw 0;
    }
}

@media screen and (orientation: portrait) {
    :root {
        font-size: 5vw;
    }
    .station {
        text-align: right;
    }
}

@media (aspect-ratio: 16/9) and (aspect-ratio: 16/10) {
   @media screen and (orientation: portrait) {
        :root {
            font-size: 2vw;
        }
    }

    @media screen and (max-width: 500px) and (orientation: portrait) {
        :root {
            font-size: 5vw;
        }
        .station {
            text-align: right;
        }
    }
}
